<div id="edit_role">
    <h1 style="text-align: center">編輯角色</h1>
    <el-row :gutter="20">
        <el-col :span="12" style="margin-top: 50px">
            <div class="grid-content bg-purple">
                <div class="demo-input-suffix">
                    <el-col :span="6">
                        <div class="grid-content bg-purple"><span>角色名称</span></div>
                    </el-col>
                    <el-col :span="18" style="padding-right: 0px">
                        <div class="grid-content bg-purple-light">
                            <el-input v-model="input" placeholder="请输入内容" style='padding: 0px'></el-input>
                        </div>
                    </el-col>
                    <el-col :span="6">
                        <div class="grid-content bg-purple"><span>權限說明</span></div>
                    </el-col>
                    <el-col :span="18" style="padding-right: 0px">
                        <div class="grid-content bg-purple">
                            <el-input
                                    type="textarea"
                                    :rows="2"
                                    placeholder="请输入内容"
                                    v-model="textarea"
                            >
                            </el-input>
                        </div>
                    </el-col>

                </div>

                <div>
                    <el-button type="primary" style="text-align: center" @click="button_act">添加<i
                            class="el-icon-circle-plus"></i>
                    </el-button>
                </div>

                <template>
                    <el-table
                            :data="user_name"
                            height="250"
                            border
                    >
                        <el-table-column
                                align="center"
                                prop="name"
                                label="使用人姓名">
                        </el-table-column>
                    </el-table>
                </template>
            </div>
        </el-col>
        <el-col :span="12">
            <div class="grid-content bg-purple-light">
                <div>
                    <h2 style='text-align:center'>權限列表</h2>
                    <div class="grid-content bg-purple">
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                            </div>
                            <div class="text item">
                                <el-tree
                                        :data="departmentList"
                                        show-checkbox
                                        node-key="id"
                                        ref="tree"
                                        highlight-current
                                        :default-expanded-keys="[]"
                                        :default-checked-keys="default_checked_keys"
                                        :props="defaultProps"
                                        @check="click_node"
                                >
                                </el-tree>
                            </div>
                        </el-card>
                    </div>
                </div>
            </div>
        </el-col>
    </el-row>
    <div style='text-align:center'>
        <el-button type="primary" @click="onSubmit">確認</el-button>
        <el-button @click="cancel">取消</el-button>
    </div>
    <el-dialog
            title="提示"
            :visible.sync="tree_input"
            width="30%"
            append-to-body
    >
        <el-row>
            <el-col :span="6">
                <div class="grid-content bg-purple">角色</div>
            </el-col>
            <el-col :span="18">
                <div class="grid-content bg-purple-light">
                    <template>
                        <el-select v-model="tree_date" multiple filterable placeholder="请选择"
                                   style="width: 100%">
                            <el-option
                                    v-for="item in options_per"
                                    :key="item.value"
                                    :label="item.name"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </template>
                    </el-input></div>
            </el-col>
        </el-row>
        <span slot="footer" class="dialog-footer">
        <el-button @click="cancel_tree">取 消</el-button>
        <el-button type="primary" @click="sure_tree">确 定</el-button>
      </span>
    </el-dialog>

</div>