<div id="permiss_add_button">
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
        <el-row>
            <el-col :span="12">
                <div class="grid-content bg-purple">
                    <el-form-item label="角色名稱" prop="name">
                        <el-input v-model="ruleForm.name" placeholder="請輸入角色名稱"></el-input>
                    </el-form-item>

                    <el-form-item label="權限說明" prop="permiss">
                        <el-input v-model="permiss" placeholder="權限說明"></el-input>
                    </el-form-item>

                    <el-form-item label="使用人" prop="person_data">
                        <template>
                            <el-select v-model="person_data" multiple filterable placeholder="请选择"
                                       style="width: 100%">
                                <el-option
                                        v-for="item in options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </template>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="onSubmit" @click="onSubmit('ruleForm')">確定</el-button>
                        <el-button @click="cancel('ruleForm')">取消</el-button>
                    </el-form-item>
                </div>
            </el-col>
            <el-col :span="12">
                <div class="grid-content bg-purple-light">
                    <el-form-item>
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                            </div>
                            <div class="text item">
                                <el-tree
                                        :data="departmentList"
                                        show-checkbox
                                        node-key="id"
                                        ref="tree"
                                        highlight-current
                                        :default-expanded-keys="[]"
                                        :default-checked-keys="default_checked_keys"
                                        :props="defaultProps"
                                        @check="click_node"
                                >
                                </el-tree>
                            </div>
                        </el-card>
                    </el-form-item>
                </div>
            </el-col>
        </el-row>
    </el-form>
</div>