<div id="per_edit">
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
        <el-form-item label="員工姓名" prop="role_name">
            <el-input v-model="ruleForm.role_name"></el-input>
        </el-form-item>

        <el-form-item label="員工賬號" prop="role_id">
            <el-input v-model="role_id" :disabled="true"></el-input>
        </el-form-item>

        <el-form-item label="所屬部門" prop="selectedOptions">
           <div class="grid-content bg-purple-light">
                <template>
                    <el-cascader
                            :options="department_list"
                            change-on-select
                            v-model="ruleForm.selectedOptions"
                            @focus="handleChange"
                            style="width: 100%">
                    </el-cascader>
                </template>
            </div>
        </el-form-item>


        <el-form-item label="崗位" prop="post">
            <template>
                <el-select v-model="ruleForm.post" placeholder="请选择" style="width: 100%">
                    <el-option
                            v-for="item in posts"
                            :key="item.value"
                            :label="item.name"
                            :value="item.id">
                    </el-option>
                </el-select>
            </template>
        </el-form-item>

        <el-form-item label="員工角色" prop="role">
            <template>
                <el-select v-model="ruleForm.role" placeholder="请选择" style="width: 100%">
                    <el-option
                            v-for="item in roles"
                            :key="item.value"
                            :label="item.name"
                            :value="item.id">
                    </el-option>
                </el-select>
            </template>
        </el-form-item>

        <el-form-item label="郵箱" prop="role_email">
            <el-input v-model="ruleForm.role_email"></el-input>
        </el-form-item>


        <el-form-item>
            <el-button type="onSubmit" @click="onSubmit('ruleForm')">確定</el-button>
            <el-button @click="cancel('ruleForm')">取消</el-button>
        </el-form-item>
    </el-form>
</div>