<odoo>
    <data>
        <menuitem id="maintenance_plan_management" name="維修計劃管理" sequence="1"
                  action="act_maintenance_plan_management"/>

        <menuitem id="work_order_management" name="工單管理" sequence="2" action="act_work_order_management"/>

        <menuitem id="equipment_management" name="設備管理" sequence="3"/>

        <menuitem id="approval_management" name="審批管理" sequence="4"/>

        <menuitem id="equipment_type_management" name="設備類型管理" sequence="5"/>

        <menuitem id="reference_materials" name="參考資料管理" sequence="6"/>
    </data>
</odoo>