<div id="app">
    <!-- 導入設備彈窗 -->
    <el-dialog title="導入設備" :visible.sync="chioce_able_visible" append-to-body="true" width="30%" @open="open_chioce">
        <!--<el-row type="flex" align="middle">-->
        <!--<el-col :span="5">-->
        <!--<span>模板：</span>-->
        <!--</el-col>-->

        <!--<el-col :span="7">-->
        <!--<el-button type="warning" plain>下載</el-button>-->
        <!--</el-col>-->
        <!--</el-row>-->

        <!--<el-row style="margin-top: 20px">-->
        <!--<el-col :span="5">-->
        <!--<span>選擇文件：</span>-->
        <!--</el-col>-->
        <!--<el-col :span="18">-->
        <!--<el-button size="small" type="primary">点击上传</el-button>-->
        <!--</el-col>-->
        <!--</el-row>-->

        <!--<hr class="vue_hr">-->

        <!--<el-row type="flex" justify="end" align="center">-->
        <!--<el-button @click="chioce_able = false" round>取消</el-button>-->
        <!--<a style="margin-left: 10px"-->
        <!--:href="'/on_duty_manage/download_on_duty_manage_list_template?month=' + choice_month + '&ids=' + checked_duty_crop">-->
        <!--<el-button type="danger" round>確認</el-button>-->
        <!--</a>-->
        <!--</el-row>-->
    </el-dialog>


    <el-row :gutter="20" type="flex" align="middle">
        <el-col :span="6">
            <el-input size="small" placeholder="搜索設備名稱" v-model="name"></el-input>
        </el-col>

        <el-col :span="8">
            <el-row type="flex" align="middle">
                <span style="white-space: nowrap">註冊時間：</span>
                <el-date-picker size="small" v-model="date" type="daterange" range-separator="至" start-placeholder="开始日期"
                    end-placeholder="结束日期">
                </el-date-picker>
            </el-row>
        </el-col>

        <el-col :span="4">
            <el-button size="small" @click="search" type="primary">搜索</el-button>
            <el-button size="small" @click="reset">重置</el-button>
        </el-col>

        <el-col :span="6">
            <el-button size="small" type="warning" @click="open_chioce">導入設備</el-button>
            <el-button size="small" type="warning" @click="download_code">導出二維碼</el-button>
        </el-col>
    </el-row>

    <hr class="vue_hr">

    <el-row :gutter="20" type="flex" align="middle">
        <el-col :span="5" style="border-right: 1px solid #F9F9F9">
            <el-tree :expand-on-click-node="false" :data="tree_data" @node-click="tree_click">
                <span class="custom-tree-node" slot-scope="{ node, data }">
                    <span>{{ node.label }}</span>
                    <span>
                        <el-button type="text" size="mini" @click="add_equipment($event, node)">
                            <i class="el-icon-plus" style="border: 1px solid" />
                        </el-button>
                        <el-button type="text" size="mini" @click="delete_equipment($event, node)">
                            <i class="el-icon-minus" style="border: 1px solid" />
                        </el-button>
                    </span>
                </span>
            </el-tree>
        </el-col>

        <el-col :span="19">
            <el-row>
                {{get_tree_route}}
            </el-row>

        </el-col>
    </el-row>
</div>